*{
	margin: 0;
	padding: 0;	
}

figure{
	position: absolute;
	width: 400px;
	height: 300px;
	overflow: hidden;
}
figcaption{
	position: relative;
	top: -40px;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transition: top 1s ease;
	-ms-transition: top 1s ease;
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
}
figure:hover figcaption{
	top: -103px;
}
h1, p{
	color: #ffffff;	
}